body {
  padding: 1em 1.5em 1em 1.5em;
}

.page-header {
	background: url(struckaxiom.png);
	background-repeat: repeat;
	margin: 0px;
	padding: 40px 0 20px 0;
}
.header {
	background: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}

.header .headerSortDown {
	background: url(desc.gif);
}

.header .headerSortUp {
	background: url(asc.gif);
}